<section class="contact-bg" id="contact">
  <div class="contact container">
    <app-title title="Contate-me"></app-title>
    <div class="content">
      <div class="contact-info">
        <div>
        <h4>Informações de Contato</h4>
        <address>
          <a href="mailto:matheusabdala12@gmail.com">matheusabdala12&#64;gmail.com</a>
          <a href="tel:+5584999084237">+55 84 9 9908-4237</a>
        </address>
        <p>Natal - RN</p>
        </div>
        <div class="networks">
          <a href="https://github.com/johnata-matheus" target="_blank"><img src="assets/svg/github-contate.svg" alt=""></a>
          <a href="https://www.linkedin.com/in/johnata-matheus-5aa008170/" target="_blank"><img src="assets/svg/linkedin-contate.svg" alt=""></a>
        </div>
      </div>
      <div class="forms">
        <form #form="ngForm" (ngSubmit)="sendEmail(form.value)">
          <div class="form-flex">
            <div>
              <label for="ownerRef">Nome</label>
              <input type="text" name="ownerRef" placeholder="Seu nome" ngModel>
            </div>
            <div>
              <label for="subject">Assunto</label>
              <input type="text" name="subject" placeholder="Assunto do e-mail" ngModel>
            </div>
          </div>
          <div>
            <label for="emailFrom">Email</label>
            <input type="email" name="emailFrom" placeholder="Contato@gmail.com" ngModel>
          </div>
          <div>
            <label for="text">Mensagem</label>
            <textarea name="text" rows="5" placeholder="Descreva o que você precisa." ngModel></textarea>
          </div>
          <button type="submit">Enviar mensagem</button>
        </form>
      </div>
    </div>
  </div>
</section>