<section class="contact-bg" id="contact">
  <div class="contact container">
    <app-title title="Contate-me"></app-title>
    <div class="content">
      <div class="contact-info">
        <div>
        <h4>Informações de Contato</h4>
        <address>
          <a href="mailto:matheusabdala12@gmail.com">matheusabdala12&#64;gmail.com</a>
          <a href="tel:+5584999084237">+55 84 9 9908-4237</a>
        </address>
        <p>Natal - RN</p>
        </div>
        <div class="networks">
          <a href="https://github.com/johnata-matheus" target="_blank"><img src="assets/svg/github-contate.svg" alt=""></a>
          <a href="https://www.linkedin.com/in/johnata-matheus-5aa008170/" target="_blank"><img src="assets/svg/linkedin-contate.svg" alt=""></a>
        </div>
      </div>
      <div class="forms">
        <form action="">
          <div class="form-flex">
            <div>
              <label for="name">Nome</label>
              <input type="text" name="name" placeholder="Seu nome">
            </div>
            <div>
              <label for="tell">Telefone</label>
              <input type="text" name="tell" placeholder="(84) 9 9999-9999">
            </div>
          </div>
          <div>
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Contato@gmail.com">
          </div>
          <div>
            <label for="message">Mensagem</label>
            <textarea name="message" rows="5" placeholder="Descreva o que você precisa."></textarea>
          </div>
          <app-primary-btn text="Enviar mensagem"></app-primary-btn>
        </form>
      </div>
    </div>
  </div>
</section>