<article class="about-bg" id="about">
  <div class="about container">
    <app-title class="title" title="Sobre"></app-title>
    <div class="grid">
      <div class="about-content">
        <div class="card-container">
          <div class="card-item">
            <img src="/assets/svg/experiencia.svg" alt="">
            <h3>Experiência</h3>
            <span>2 + anos</span>
          </div>
          <div class="card-item">
            <img src="/assets/svg/experiencia.svg" alt="">
            <h3>Experiência</h3>
            <span>2 + anos</span>
          </div>
        </div>

        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>

        <div class="content-last">
          <app-primary-btn [download]="true" text="Download cv" [links]="link"></app-primary-btn>
          <div class="networks">
            <a href="https://github.com/johnata-matheus" target="_blank">
              <img src="/assets/svg/github.svg" alt="">
            </a>
            <a href="https://www.linkedin.com/in/johnata-matheus-5aa008170/" target="_blank">
              <img src="/assets/svg/linkedin.svg" alt="">
            </a>
          </div>
        </div>

      </div>
      <div>
        <div class="image">
          <img src="/assets/jpg/foto-perfil.jpg" alt="">
        </div>
      </div>

    </div>
  </div>
</article>