<footer class="footer-bg">
  <div class="footer container">
    <div class="logo">
      <img src="assets/svg/logo.svg" alt="">
      <span>Johnata Abdala © Alguns direitos reservados.</span>
    </div>
    <div class="navigation">
      <h4>Navegação</h4>
      <ul>
        <li><a href="#about">Sobre</a></li>
        <li><a href="#skills">Habilidades</a></li>
        <li><a href="#projects">Projetos</a></li>
        <li><a href="#contact">Contate-me</a></li>
      </ul>
    </div>
  </div>
</footer>