@import '../../../styles/variables.scss';

.footer-bg {
  background-color: $w0;

  .footer {
    padding: 32px 20px 32px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    .logo {
      display: grid;
      gap: 12px;

      span {
        font: 400 1rem 'Roboto';
        color: $c3;
        margin-left: 12px;
      }
    }

    .navigation {


      h4 {
        font: 600 1.125rem 'Poppins';
        padding: 22px 0px;
        margin-bottom: 8px;
      }

      ul {
        display: flex;
        gap: 24px;

        a {
          font: 400 1rem 'Roboto';
          color: $c3;
          width: max-content;
        }
      }
    }

  }
}

@media(max-width: 800px){
  .footer-bg{
    .footer{
      align-items: start;
      gap: 80px;
      justify-content: left;

      .navigation{
        ul{
          flex-direction: column;
        }
      }
    }
  }
}

@media(max-width: 600px){
  .footer-bg{
    .footer{
      gap: 60px;
      flex-direction: column;
      
      .logo{
        order: 2;

        img{
          display: none; 
        }

        span{
          margin: 0px;
        }
      }

      .navigation{
        order: 1;

        ul{
          flex-direction: column;
        }
      }
    }
  }
}