@import '../../../styles/variables.scss';

.header-bg {
  background-color: $w0;

  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    gap: 20px;

    .logo a{
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }

  .menu a {
    font: 500 1.125rem 'Poppins';
    padding: 12px 0px;
    display: inline-block;
  }

  .menu a:hover{
    color: $b2;
  }

  .menu li:last-child a {
    padding: 12px 24px;
    border: 1px solid $b2;
    border-radius: 7px;
    text-transform: uppercase;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  }

  .menu li:last-child a:hover{
    background-color: $c1;
  }

  .menu-mobile{
    display: none;
  }

}

@media(max-width: 1000px){

  .header-bg{

    .menu {
      display: flex;
      gap: 32px;
    }

    .menu li:last-child a {
      padding: 12px;
      
    }

    .menu a{
      font: 500 1rem 'Poppins';
    }
  }

}

@media(max-width: 800px){
  .header-bg{
    
    .menu{
      display: block;
      position: absolute;
      width: 100%;
      top: 100px;
      left: 0px;
      background-color: $w0;
      height: 0px;
      transition: 0.6s;
      z-index: 1000;
      visibility: hidden;
      overflow-y: hidden;
      overflow-y: auto;
    }

    .menu a{
      display: grid;
    }

    .menu a:hover{
      background-color: aliceblue;
    }

    .menu li{
      margin: 0 20px;
      border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }

    .menu li:last-child a{
      border: none;
      text-transform: none;
      box-shadow: none;
      padding: 12px 0px;
    }

    .menu-mobile{
      display: block;
      border: none;
      background: none;
      cursor: pointer;
    }

    .menu.active{
      visibility: visible;
      height: calc(100vh - 100px);
    }

    #hamburger{
      display: block;
      width: 20px;
      border-top: 2px solid black;
    }
    
    #hamburger::after, #hamburger::before{
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
    }
  }
}