<header class="header-bg" id="header">
  <div class="header container">
    <div class="logo">
      <a href="#header">
        <img src="/assets/svg/logo.svg" alt="">
      </a>
    </div>
    <nav>
      <button class="menu-mobile" (click)="toggleMenu()">
        <span id="hamburger"></span>
      </button>
      <ul class="menu">
        <li><a href="#about" (click)="toggleMenu()">Sobre</a></li>
        <li><a href="#skills" (click)="toggleMenu()">Habilidades</a></li>
        <li><a href="#projects" (click)="toggleMenu()">Projetos</a></li>
        <li><a href="#contact" (click)="toggleMenu()">Contate-me</a></li>
      </ul>
    </nav>
  </div>
</header>