<main class="introduction-bg">
  <div class="introduction container">
    <div class="content">
      <h1 class="slide fast">Desenvolvedor <span>Full stack.</span></h1>
      <p class="slide normal">Olá, eu sou <span>Johnata</span>. Desenvolvedor com foco na construção de aplicações web escaláveis e responsivas.</p>
      <app-primary-btn text="Contate-me" [links]="link"></app-primary-btn>
    </div>
    <div class="image">
      <img src="/assets/svg/poligonos-home.svg">
    </div>
  </div>
</main>