@import '../../../styles/variables.scss';

.title-container {
  padding: 0px 20px;
  margin-bottom: 60px;
}

.title {
  font: 700 4rem 'Poppins';
  display: flex;
  white-space: nowrap;
  align-items: center;

  span {
    color: $b2;
  }
}

.trace {
  width: 8%;
  height: 5px;
  background-color: $b2;
}

@media(max-width: 1000px){
  .title{
    font-size: 3rem;
  }
}

@media(max-width: 800px){
  .title{
    font-size: 2rem;
    line-height: normal !important;
  }
}