<section class="projects-bg" id="projects">
  <div class="projects container">
    <app-title title="Projetos"></app-title>
    <div class="content">
      <app-card-project [links]="link[0]" [items]="items[0]" [pathImage]="pathPortfolio" title="Portfólio" [description]="description[0]"></app-card-project>
      <app-card-project [links]="link[1]" [items]="items[1]" [pathImage]="pathFinance" title="Finance" [description]="description[1]"></app-card-project>
      <app-card-project [links]="link[2]" [items]="items[2]" [pathImage]="pathColab" title="Api-colab" [description]="description[2]"></app-card-project>
      <app-card-project [links]="link[3]" [items]="items[3]" [pathImage]="pathBikcraft" title="Bikcraft" [description]="description[3]"></app-card-project>
    </div>
  </div>
</section>