@import '../../../styles/variables.scss';

.btn{
  padding: 12px 24px;
  font: 600 1.125rem 'Poppins';
  background: linear-gradient($b1, $b3);
  color: $b4;
  text-transform: uppercase;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient($b5, $b3);
}