@import 'styles/variables.scss';
@import 'ngx-toastr/toastr';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  background-color: $w0;
  color: $c4;
}

h1,
h2,
h3,
h4,
p,
ul {
  padding: 0;
  margin: 0;
}

h2 {
  line-height: 4.5rem !important;
  margin-bottom: 8px;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.container {
  margin: 0 auto;
  max-width: 1150px;
  box-sizing: border-box;
}



@keyframes slide {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide,
.introduction a {
  animation-name: slide;
  animation-fill-mode: forwards;
  animation-duration: 1500ms;
}

.slide.fast {
  animation-duration: 500ms;
}

.slide.normal {
  animation-duration: 1000ms;
}

.slide.slow {
  animation-duration: 1500ms;
}